<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Gardens by the HDBay</title>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default navbar-colour">
    <div class="container =">
      <div class="navbar-header">
        <p class="navbar-brand">Gardens by the HDB</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">Home</a></li>
          <li id="about"><a href="/plants">My Plant</a></li>
          <li id="contact"><a href="/contact">About Us</a></li>
          <li id="plant-guide"><a href="/plantGuide">Plants Guide</a></li>
        </ul>
    </div>
  </nav>

  <body>