<%- include("./partials/header") -%>

<div class="container">
    <h1>Greetings!</h1>
    <p>We are Clown Fiesta. Welcome to <em>le Cirque du Pain</em>!</p>
    <p>Founded in 2021 with a generous donation of 0.50 SGD from an angel investor, we became obliged to do something meaningful with our lives. 
        We try not take ourself too seriously, and find humor in the smallest of things, which is why we call ourselves clowns. </p>
    <p>Fiesta is 'feast' in Spanish and the word comes from the Latin festus, meaning "festive, joyful, or merry. 
        Taken together, it simply means "Clowns at a Festival", which aligns with our goals here, to seek new experiences and have fun.</p>
    <div class="row">
        <div class="col-md-3">
            <img src="/images/cf_s.png" alt="clown1" class="img-clown">
        </div>
        <div class="col-md-3">
            <img src="/images/cf_k.png" alt="clown2" class="img-clown">
        </div>
        <div class="col-md-3">
            <img src="/images/cf_co.png" alt="clown3" class="img-clown">
        </div>
        <div class="col-md-3">
            <img src="/images/cf_ch.png" alt="clown4" class="img-clown">
        </div>
    </div>
</div>

<%- include("./partials/footer") -%>