<%- include("./partials/header") -%>

<div class="container">
    <div class="jumbotron background">
        <h1>We help you take care of your plants.</h1>
        <p class="text-colour">At Gardens by the HDBay, we help you easily grow your own fresh food, right at home. With our suite of sensors and microcontrollers you will be able to know the condition of your precious plants; anytime, anywhere.</p>
        <p><a class="btn btn-primary btn-lg btn-gold" href="/plants" role="button">Your Garden</a></p>
      </div>
</div>

<div class="container">
    <h3>Integrated plant care system.</h3>
    <div class="jumbotron background">
        <img src="/images/prototype.png" alt="prototype render" class="prototype-img">
      </div>
</div>


<%- include("./partials/footer") -%>