<%- include("./partials/header") -%>

<div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class = "box">
                <div class="box heading-guide">
                    <h2>Cherry Tomato</h2>
                </div>
                 <div class="item">
                    <p>Amount of Watering: Frequent (water every 2-3 days)</p>
                </div>
                <div class="item">
                    <p>Sun Exposure: 6-8h</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class = "box">
                <div class="box heading-guide">
                    <h2>Kang kong</h2>
                </div>
                 <div class="item">
                    <p>Amount of Watering: Very Frequent (water every day)</p>
                </div>
                <div class="item">
                    <p>Sun Exposure: Full direct sun</p>
                </div>
            </div> 
          </div>
          <div class="col-md-4">
            <div class = "box">
                <div class="box heading-guide">
                    <h2>Kailan</h2>
                </div>
                 <div class="item">
                    <p>Amount of Watering: Very Frequent (water every day)</p>
                </div>
                <div class="item">
                    <p>Sun Exposure: 4-6h</p>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class = "box">
                    <div class="box heading-guide">
                        <h2>Cucumber</h2>
                    </div>
                     <div class="item">
                        <p>Amount of Watering: Infrequent (water every 5-7 days)</p>
                    </div>
                    <div class="item">
                        <p>Sun Exposure: Full direct sun</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class = "box">
                    <div class="box heading-guide">
                        <h2>Brinjal</h2>
                    </div>
                     <div class="item">
                        <p>Amount of Watering: Infrequent (water every 5-7 days)</p>
                    </div>
                    <div class="item">
                        <p>Sun Exposure: Full direct sun</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class = "box">
                    <div class="box heading-guide">
                        <h2>Lady's finger</h2>
                    </div>
                     <div class="item">
                        <p>Amount of Watering: Infrequent (water every 5-7 days)</p>
                    </div>
                    <div class="item">
                        <p>Sun Exposure: Full direct sun</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-4">
                <div class = "box">
                    <div class="box heading-guide">
                        <h2>Pumpkin</h2>
                    </div>
                     <div class="item">
                        <p>Amount of Watering: Frequent (water every 2-3 days)</p>
                    </div>
                    <div class="item">
                        <p>Sun Exposure: 6-8h</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class = "box">
                    <div class="box heading-guide">
                        <h2>Radish</h2>
                    </div>
                     <div class="item">
                        <p>Amount of Watering: Frequent (water every 2-3 days)</p>
                    </div>
                    <div class="item">
                        <p>Sun Exposure: 6-8h</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
</div>

<%- include("./partials/footer") -%>